body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

header {
    background-color: #05a288;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: #333;
    font-size: 2em;
}

.items {
    width: 80%;
    max-width: 1200px;
    margin: 20px 0;
}

.items h2 {
    color: #0b959a;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.02);
}

.item img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.item p {
    margin: 0;
    font-size: 1em;
    color: #666;
}

footer {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #f9f9f9;
    color: #666;
}

footer hr {
    margin: 20px 0;
    border: none;
    height: 2px;
    background: linear-gradient(to right, #ffcc00, #f9f9f9, #ffcc00);
    border-radius: 5px;
}
